@charset "utf-8";
body, h1, h2, h3, h4, h5, h6, hr, div, p, blockquote, dl, dt, dd, ul, ol, li, pre, code, form, fieldset, legend, input, textarea, button, th, td, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { margin: 0; padding: 0; box-sizing: border-box; }
html { color: #000; background: #fff; -webkit-text-size-adjust: none; -ms-text-size-adjust: none; font-size: 50px; height: 100%;}
body{min-height: 100%;}
body, button, input, select, textarea { font-family: 'Microsoft Yahei', helvetica, arial; font-size: 0.3rem;max-width: 750px;margin:0 auto; }
html, body { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block }
audio, canvas, video { display: inline-block }
input, select, textarea { font-size: 100% }
input[type="text"],input[type="button"],input[type="submit"], input[type='email'], input[type='password'] { -webkit-appearance: none; appearance: none; }
input:focus{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-user-modify:read-write-plaintext-only;
}
textarea { resize: vertical }
textarea[contenteditable] { -webkit-appearance: none }
table { border-collapse: collapse; border-spacing: 0 }
fieldset, img { border: 0 }
img { vertical-align: top; }
del { text-decoration: line-through }
address, caption, cite, code, dfn, em, th, var, i { font-style: normal; font-weight: 500 }
code, kbd, pre, samp { font-family: monospace, serif; font-size: 1em }
ol, ul { list-style: none }
caption, th { text-align: left }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 500 }
blockquote, q { quotes: none }
blockquote:before, blockquote:after, q:before, q:after { content: '' }
sub, sup { position: relative; font-size: 75%; line-height: 0; vertical-align: baseline }
sup { top: -.5em }
sub { bottom: -.25em }
mark { background: #fffdd1 }
ins, a { text-decoration: none }
.fl{float: left;}
.fr{float: right;}
.clear{clear:both;line-height:0;}
.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; } 
.dn{display: none;}

@media screen and (min-width: 320px) {
  html{font-size: 50px;}   
} 
@media screen and (min-width: 375px) {
  html{font-size: 52px;}   
} 
@media screen and (min-width: 414px) {
  html{font-size: 58px;}   
} 


#header{padding:.15rem 0 .22rem .24rem;}
#header .logo img{width:1.44rem;height: .43rem;}
#header h1{font-size: .22rem;color:#444;margin-top:.22rem;line-height:.22rem;margin-left: .12rem;}

#banner{background:url(../images/banner.png) center top no-repeat;background-size:100% 100%;width:100%;height:3rem;border-bottom:.15rem solid #e5e5e5;}

.ticket-list li{border-bottom:1px solid #e1e1e1;padding: .25rem .23rem .28rem;}
.ticket-list h3{font-size: .3rem;color:#000;font-weight: normal;}
.ticket-list  .price{font-size: .2rem;font-weight: bold;color:#c60000;display: inline-block;}
.ticket-list  .price strong{font-size: .3rem;}
.ticket-list .discount{width:.9rem;height:.25rem;background: #fe9900;font-size:.18rem;color:#fff;border-radius:.05rem;padding: 0 .12rem;}
.ticket-list .explain{background: #fff4c7;}
.ticket-list .num-opera{margin-top: .09rem;line-height: .4rem;}
.ticket-list .num-opera span{float: left;}
.ticket-list .add,.ticket-list .cut{width:.48rem;height: .48rem; line-height: .48rem; border:1px solid #e1e1e1;font-size: .3rem;color:#c60000;font-weight: bold;background: #fff;border-radius: 0;text-align: center;cursor:pointer;}
.ticket-list .cut{position: relative;display: none;}
.ticket-list .cut:before{content:"";position: absolute;left: .14rem;top: .22rem;width:.18rem;height: .04rem;background: #c60000;overflow: hidden;}
.ticket-list .num-opera .num{font-size: .26rem;color:#4c4c4c;padding: 0  .16rem;}
.ticket-list .explain{padding: 0 .25rem .14rem .1rem;margin-top:.28rem;}
.ticket-list .explain h4{font-size:.24rem;line-height: .4rem;padding-top: .05rem; color:#ff9a0f;background: url(../images/ico_clock.png) 0 .1rem no-repeat;background-size: .23rem .25rem;padding-left:.3rem;}
.ticket-list .explain p{font-size: .22rem;line-height: .3rem; color:#878169;padding-left: .3rem;}
.pricewrap{margin-top: .09rem;}
.ticket-list .remark{font-size: .24rem;}

.place{height: 1.25rem;}

.footer{width:100%;max-width: 750px; box-sizing: border-box; background: #c60000;padding: .28rem .23rem;overflow: hidden;position:fixed;bottom:0;z-index: 999;}
.footer .total{font-size: .4rem;color:#fff;}
.w-btn{width:1.84rem;height: .69;background: #fbfbfb;border-radius: .05rem;border:none;font-size:.3rem;color:#c60000;line-height: .69rem;}
.footer-btn{border: none;background: none;display: block;width: 100%;height: 100%;font-size: .4rem;color:#fff;outline: none;}


/*order*/
.bggrey{background: #e5e5e5;}
.bggrey2{background: #f0f0f0;}
.greyblock{height:.15rem;background: #e5e5e5;}
.selected-ticket .shd{background: #f3f4f8;border-bottom:1px solid #ccc;height: .66rem;line-height: .66rem; text-align: right;font-size: .26rem;color:#48494a;padding: 0 .23rem;border-top:.15rem solid #e1e1e1;box-sizing: content-box;}

.selected-ticket .shd a{color:#48494a;}
.selected-ticket-list{padding: .2rem .23rem .03rem .24rem;background: #fff;}
.selected-ticket-list li{background:url(../images/ticket_bg.png) 0 0 no-repeat;background-size:100%;height: 2rem;margin-bottom: .25rem;}
.selected-ticket-list padding-left:.3rem;width:4.2rem;}
.selected-ticket-list h3{font-size: .34rem;line-height:.34rem;color:#643e0d;border-bottom:1px solid #b79860;padding-top:.3rem;padding-bottom: .35rem;}
.selected-ticket-list  .price{font-size: .4rem;font-weight: bold;color:#e94520;}
.selected-ticket-list .discount{font-size:.2rem;color:#755323;padding: 0 .12rem;position: relative;}
.selected-ticket-list .discount:after{content:url(../images/ico_arrow.png);width:.08rem;height: .08rem;position: absolute;bottom: 10px;right:-3px;}
.selected-ticket-list .ticket-right{/*width:1.84rem;*/padding-right: .25rem;text-align: center;}
.selected-ticket-list .remark{font-size: .2rem;line-height:.2rem; color:#d4d4d4;padding: .37rem 0 .65rem;}
.selected-ticket-list .num{font-size: .34rem;line-height: .34rem; font-weight: bold;color:#f9d17a;}
.media-list .num{padding-top:.82rem;}

.form{}
.title{padding:.22rem 0;}
.title h3{font-size: .28rem;height:.28rem;color:#333;position: relative;padding-left: .19rem;}
.title h3:before{content: "";position: absolute;width:.1rem;height: .25rem; background: #c60000;left:0;top:.08rem;}
.relation-info,.section-invoice{padding:0 .15rem 0 .15rem;margin-top: .15rem;background: #fff;padding-bottom: .25rem;}

/*表单*/
.form{padding:0 0 .25rem;}
.form .form-item {
    margin-bottom:.25rem;
    display:box;
    display:-webkit-box;
    width:100%;
}

.form .item-l{
    font-size:.24rem;
    line-height:.65rem;
    color: #0e0d0d;
    width:1.4rem;
    text-align: right;
    margin-right:.1rem;
    color:#000;
    display: block;
    box-sizing: border-box;
}
.item-l-invocom{
    font-size:.24rem;
    line-height:.65rem;
    color: #0e0d0d;
    color:#000;
    display: block;
}
.form .section-invoice .item-l{width:1.7rem;}
.form .item-r{
	width: 100%;
	box-flex:1;
	 -webkit-box-flex:1;
   -moz-box-flex:1;
   position: relative;
   height: .63rem;
   line-height: .63rem;
}
.item-r-invocom{position: relative;}


.Validform_checktip{
	position: absolute;
	right:.2rem;
	top:0;
    font-size: .24rem;
    line-height: .63rem;
    color:#ef0a0a;
}
.pay_checktip{
    height: .75rem;
    font-size: .24rem;
    line-height: .75rem;
    color:#ef0a0a; 
    background: #e5e5e5;
    display: block;
    margin-top: .38rem;
    padding-left: .45rem;
}

.form .xin {
    color: #c81a19;
    font-size:.24rem;
    margin-right:.08rem;
    font-weight: normal;


}

.form .txt {
   width:100%;
    height:.63rem;
    font-size: 14px;
    text-indent: 8px;
    border: 1px solid #e1e1e1;
    background: #fff;
    font-size:.24rem;
    color: #0e0d0d;
    border-radius: 3px;
    outline: none;
    display: block;
    
}

.form-item-invocom{margin-bottom: .25rem;}

.form .invoice span{width:47%;height:.63rem;border:1px solid #e1e1e1;line-height:.63rem;display: inline-block;cursor: pointer;margin-right: 6px;margin-right:1%;text-align:center;border-radius: 3px;}
.form .invoice span.active{border-color:#d65353;height:.61rem;line-height:.61rem;}
.have-invoice{display: none;}

.pay-tabs{display: box;display:-webkit-box;margin-left: .22rem;}
.pay-tabs span{/*width:100%;*/height: .61rem;display: block; border:2px solid #e1e1e1;line-height:.61rem;text-align: center;margin-right:.3rem;font-size:.24rem; cursor: pointer;box-flex:1;-webkit-box-flex:1;}
.pay-tabs span.active{border:2px solid #c40909;}
.pay-tabs span i{display: inline-block;vertical-align:middle;margin-right:.03rem;}
.pay-tabs span .ico-weixin{margin-right: .1rem;}
.pay-tabs-con{display: none;}
.weixin{color:#3c915f;}
.bank{color:#154889;}
.ico-zfb{width:1.18rem;height:.38rem;background:url(../images/zfb.png) 0 center no-repeat;background-size:auto 100%;}
.ico-weixin{width:.51rem;height:.51rem;background:url(../images/weixin.png) 0 center no-repeat;background-size:auto 100%;}
.ico-bank{width:.65rem;height:.32rem;background:url(../images/bank.png) 0 center no-repeat;background-size:auto 100%;}

.paybox .title{padding-left: .23rem;}


.success-bm{background: #fff;border-radius: .11rem;border: 1px solid #ccc;text-align:center;margin:.79rem .23rem .89rem;box-shadow: 0 0 5px #ebebeb}
.success-bm h2{width:3.65rem;height:.67rem;line-height: .67rem; border:1px solid #c60000;border-radius: .33rem;margin:.7rem auto .46rem;font-size: .28rem;color:#c60000;}
.success-bm h2:before{content:"";display:inline-block;vertical-align: middle; background:url(../images/ok.png) 0 0 no-repeat;background-size:contain;width:.34rem;height: .26rem;margin-right: .18rem;}
.success-bm .tips{background: #f0f0f0;font-size:.22rem;color:#595959;line-height: .34rem;margin-top: .65rem;padding:.08rem .45rem;}
.success-bm p{font-size: .3rem;color:#333;line-height: .52rem;}
.back-btn{display:block;background:#c60000;height: .8rem;line-height: .8rem;color:#fff;font-size: .3rem;text-align: center;margin:0 .23rem;}


.account-info-wrap{background: #fff9d5;border-top:2px dashed #919191;text-align: left;position: relative;}
.account-info-wrap:before,.account-info-wrap:after{content: "";position: absolute;width:.45rem;height: .45rem;border-radius:50%;/*border:.05rem solid #cbcbcb;*/background: #f0f0f0;}
.account-info-wrap:before{left:-.23rem;top:-.23rem;}
.account-info-wrap:after{right:-.23rem;top:-.23rem;}
.account-info{border-bottom: 1px solid #eeae95;margin:0 .23rem;padding:.38rem 0 .14rem;}
.account-info p{font-size:.3rem;color:#333;line-height: .52rem;}
.pay-tips{font-size: .22rem;color:#5c5b53;line-height: .34rem;padding:.13rem .23rem .16rem;}

.overlay{
    position: fixed;
    width: 2.2rem;
    height: 2rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #e5e5e5;
    margin: auto;
    line-height: 2rem;
    text-align: center;
}