<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <title>OFweek展会网 登记</title>
    <meta name="applicable-device" content="mobile" />
    <link rel="apple-touch-icon-precomposed" href="images/favicon.png">
    <link rel="icon" href="images/favicon.png">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>
    <header id="header" class="clearfix">
        <a href="m.ofweek.com" class="logo fl"><img src="images/logo.png" /></a>
        <h1 class="fl">手机版</h1>
    </header>
    <div id="main">
        <div id="banner"></div>
        <form action="" method="post" id="ticketForm">
             <ul class="ticket-list">
            <script type="text/x-jsrender" id="temp">
            {{if child && child.length}}
            {{for child}} 
                {{if isshow==1}}
                <li>
                <div class="clearfix">
                    <div class="ticket-left fl">
                        <h3 class="ticketname">{{:ticketTypeName}}</h3>
                        <div class="pricewrap">
                        {{if price==0}}
                            <span class="price">免费</span>
                        {{else}}
                            <span class="price">￥<strong>{{:price}}.</strong>00</span>

                         {{if discount==1}}
                            <span class="discount">无折扣</span>
                            {{else}}
                            <span class="discount">{{:discount*10}}折优惠</span>
                         {{/if}}
                            <input type="hidden" name="discount" value="{{:discount}}">
                        {{/if}}
                            <input type="hidden" name="price" value="{{:price}}">  
                            
                        </div>
                    </div>
                    <div class="ticket-right fr">
                        <p class="remark">{{:remark}}</p>
                        <p class="num-opera fr">
                            <span class="cut"></span>
                            <span class="num">0</span>
                           <span class="add">+</span>
                        </p>
                    </div>
                </div>
                {{if ticketTypeId==105}}
                <div class="explain">
                    <h4>可参与全部活动, 与核心嘉宾深入交流, 获得全部服务权益</h4>
                    <p>（享受服务权益：优先座位，大会会刊，精美礼品，自助午餐、 茶歇及晚宴交流机会。）
                    </p>
                </div>
                {{/if}}

            </li>
                {{/if}}
            {{/for}}
            {{else}}
            {{if isshow==1}}
             <li>
                <div class="clearfix">
                    <div class="ticket-left fl">
                        <h3 class="ticketname">{{:ticketTypeName}}</h3>
                        <div class="pricewrap">
                           <span class="price">免费</span>
                           <input type="hidden" name="discount" value="{{:discount}}">
                           <input type="hidden" name="price" value="0">
                        </div>
                    </div>
                    <div class="ticket-right fr">
                        <p class="remark">{{:remark}}</p>
                        <p class="num-opera fr">
                            <span class="cut"></span>
                            <span class="num">0</span>
                           <span class="add">+</span>
                        </p>
                    </div>
                </div>
                {{if ticketTypeId==2}}
                <div class="explain">
                    <h4>可参与部分闭门及所有开放论坛，获得部分服务权益。</h4>
                </div>
                {{else}}
                <div class="explain">
                    <h4>可参与部分闭门及所有开放论坛，获得部分服务权益。</h4>
                    <p>（合作企业凡是预约注册报名参会，经组委会审核通过，便可获
    得免费参会名额！名额有限，预约从速！）</p>
                </div>
                {{/if}}
            </li>
            {{/if}}
           

            {{/if}}
           
       </script>
        </ul>
        
        </form>

       <div class="place"></div>
    </div>

    <footer class="footer">
            <span class="total fl">¥ <span id="total">0</span>.00</span>
            <input type="hidden" name="sub_ticketname" id="sub_ticketname">
            <input type="hidden" name="sub_price" id="sub_price">
            <input type="hidden" name="sub_discount" id="sub_discount">
            <input type="hidden" name="sub_remark" id="sub_remark">
            <input type="hidden" name="sub_num" id="sub_num">
            <input type="button" value="确定" class="w-btn fr" id="ticket-sub"> 
    </footer>
    <script src="http://www.ofweek.com/seminar/2016/high_tech/js/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/jsrender.min.js"></script>
    <script src="js/main.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
          $.getJSON('js/ajax.txt', function(data) {
             var html=$("#temp").render(data);
             $("#ticketForm .ticket-list").html(html);
         });
    </script>
</body>

</html>
